<div class="card grid">
  <div class="col-2 drag-column">
    <ng-container *ngIf="allTask$ | async as tasksList">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div >
            <app-add-task></app-add-task>
          </div>
        </ng-template>


      </p-toolbar>

      <div *ngFor="let task of tasksList" class="overflow-auto" pDraggable="tasks" (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()">
        <app-task-card
        [task]="task"  >

        </app-task-card>
      </div>
    </ng-container>

  </div>


  <div class="col-10  drop-column" pDroppable="tasks" (onDrop)="drop()"  >
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="flex flex-row flex-wrap card-container blue-container">
          <app-add-sprint></app-add-sprint>
          <ng-container *ngIf="allSprints$ | async as allSprints"  >
            <!--<form>-->
            <!--<app-delete-domain></app-delete-domain>-->

              <p-dropdown   [options]="allSprints" [formControl]="selectedSprint" optionLabel="sprintTitle" placeholder="Select a Sprint"></p-dropdown>



            <!--</form>-->
          </ng-container>
<!--          <ng-container *ngIf="selectedSprint.id !== undefined">-->

<!--              <i class="pi pi-trash product-category-icon pl-1"  ></i>-->

<!--              <i class="pi pi-copy product-category-icon pl-1"  ></i>-->

<!--          </ng-container>-->
        </div>
      </ng-template>


    </p-toolbar>

    <div class="grid">
      <ng-container *ngIf="sprintTasks$ as tasks">

        {{tasks|json}}
      </ng-container>
      <div class="col">
        <h3>To do </h3>
      </div>
      <div class="col border-round">
        <h3 >In Progress</h3>
      </div>
      <div class="col ">
        <h3 >Review</h3>
      </div>
      <div class="col ">
        <h3 >Test</h3>
      </div>
      <div class="col">
        <h3>Done</h3>
      </div>


    </div>
  </div>
</div>
