<div class="card grid">
  <div class="col-2 drag-column">
    <ng-container *ngIf="allTask$ | async as tasksList">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div >
            <app-add-task></app-add-task>
          </div>
        </ng-template>


      </p-toolbar>

      <div *ngFor="let task of tasksList" class="overflow-auto" pDraggable="tasks" (onDragStart)="dragStart(task)" (onDragEnd)="dragEnd()">
        <app-task-card class="m-2"
        [task]="task"
        >

        </app-task-card>
      </div>
    </ng-container>

  </div>


  <div class="col-10  drop-column" pDroppable="tasks" (onDrop)="drop()"  >
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="flex flex-row flex-wrap card-container blue-container">
          <app-add-sprint></app-add-sprint>
          <ng-container *ngIf="allSprints$ | async as allSprints"  >

              <p-dropdown   [options]="allSprints" [formControl]="selectedSprint" optionLabel="sprintTitle" placeholder="Select a Sprint"   ></p-dropdown>




          </ng-container>
          <ng-container *ngIf="selectedSprint.value?.id" >
              <app-edit-sprint [sprint]="selectedSprint.value ?? undefined" ></app-edit-sprint>
              <app-detete-sprint [id]="selectedSprint.value?.id ?? undefined"></app-detete-sprint>
          </ng-container>

        </div>
      </ng-template>


    </p-toolbar>

    <div  class="grid">
      <ng-container *ngIf="data$ | async as tasks" >


        <div class="col  " >

          <h3>To do </h3>

          <div >
            <ng-container *ngFor="let task of tasks.todo">
              <app-task-card class="m-2"
                [task]="task"
              >

              </app-task-card>
            </ng-container>

          </div>


        </div>
        <div class="col border-round "  >
          <h3 >In Progress</h3>

              <ng-container *ngFor="let task of tasks.inProgress">
              <app-task-card class="m-2"
                [task]="task"
              >

              </app-task-card>
            </ng-container>


        </div>
        <div class="col ">
          <h3 >Review</h3>

            <ng-container *ngFor="let task of tasks.review">
              <app-task-card class="m-2"
                [task]="task"
              >

              </app-task-card>
            </ng-container>

          </div>

        <div class="col ">
          <h3 >Test</h3>

            <ng-container *ngFor="let task of tasks.test">
              <app-task-card class="m-2"
                [task]="task"
              >

              </app-task-card>
            </ng-container>

          </div>

        <div class="col">
          <h3>Done</h3>

            <ng-container *ngFor="let task of tasks.done">
              <app-task-card class="m-2"
                [task]="task"
              >

              </app-task-card>
            </ng-container>

          </div>

      </ng-container>




    </div>
  </div>
</div>
