<div class="product-item" pDraggable="products" >
  <div class="product-list-detail">
    <h5 class="mb-2">{{task.taskTitle}}</h5>
    <i class="pi pi-tag product-category-icon "></i>
    <span class="product-category pr-1">{{task.taskEstimation}}</span>
    <i class="pi pi-clock product-category-icon pl-1" ></i>
    <span class="product-category ">{{task.taskTime}}</span>
  </div>
  <div class="product-list-action">
    <div class="flex flex-row flex-wrap card-container blue-container">
      <i class="pi pi-trash product-category-icon pl-1" (click)="deleteTask(task.id)" ></i>
    <app-edit-task  [task]="task"> </app-edit-task>
      <i class="pi pi-copy product-category-icon pl-1" (click)="duplicateTask(task.id)" ></i>
    </div>
    <p-tag [value]="task.taskStatus" severity="info" class="p-1"></p-tag>
    <p-tag [value]="task.taskType" severity="warning" class="p-1"></p-tag>
  </div>
</div>
