<button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-warning mr-2" (click)="openModal()" ></button>

<p-dialog  [(visible)]="showModal" [style]="{ width: '50vw' }" [header]="'add new skill'" [modal]="true" class="p-fluid">
  <app-form [fields]="SkillForm" [formData]="skill">
  </app-form>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeModal()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>
</p-dialog>
