<ng-container *ngIf="Quiz$ | async as quiz">

  <div class="grid">
    <div class="col-12">
      <div class="card px-6 py-3">

        <div class="flex justify-content-between mb-1">
          <a *ngIf="quizId$ | async  as quizId " [routerLink]="['/skill/quiz',quizId]" class="p-button-link " icon="pi pi-chevron-left" pButton
             pRipple type="button"></a>
          <h3 class="flex justify-content-center  font-bold font-italic text-center">{{quiz.name}}</h3>
          <a class="p-button-link " icon="pi pi-clock" label="00:10:00" pButton pRipple type="button"></a>

        </div>

        <p-divider align="center" class="mt-0 p-0">
          <b>Description</b>
        </p-divider>
        <div class="p-mb-2">
          {{quiz.description}}
        </div>
        <app-quiz-question></app-quiz-question>
      </div>
    </div>
  </div>
</ng-container>

