<div class="p-grid ">
  <div class="p-col-12">
    <div class="card  min-h">
      <div class="items ">
        <div class="header">
          <h1> Welcome </h1>
          <h4> Welcome to skill app</h4>
        </div>
        <div routerLink="/dashboard" class="p-mr-2 p-mb-2 item">
          <i class="pi pi-chart-bar p-d-block p-mb-2"></i>
          <p>Dashboard</p>
        </div>
        <div routerLink="/task" class="p-mr-2 p-mb-2 item">
          <i class="pi pi-check p-d-block p-mb-2"></i>
          <p>Task</p>
        </div>
        <div routerLink="/skill/activity" class="p-mr-2 p-mb-2 item">
          <i class="pi pi-calendar-plus p-d-block p-mb-2 "></i>
          <p>Activity</p>
        </div>
        <div routerLink="/skill/domain" class="item">
          <i class="pi pi-globe p-d-block p-mb-2"></i>
          <p>Domain</p>
        </div>
        <div routerLink="/skill" class="item">
          <i class="pi pi pi-fw pi-star p-d-block p-mb-2"></i>
          <p>Skill</p>
        </div>
        <div routerLink="/user" class="item">
          <i class="pi pi-user p-d-block p-mb-2"></i>
          <p>Users</p>
        </div>
        <div routerLink="/job" class="item">
          <i class="pi pi-briefcase p-d-block p-mb-2"></i>
          <p>Jobs</p>
      </div>

    </div>
  </div>
</div>
</div>

