<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total tasks</span>
          <ng-container *ngIf="totalTaskCount$ | async as taskCount">
          <div class="text-900 font-medium text-xl">{{taskCount.data.task_aggregate.aggregate.count }}</div>
          </ng-container>
        </div>
        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-list text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Done Tasks</span>
          <ng-container *ngIf="totalDoneTasksCount$ | async as totalDoneTasksCount">
          <div class="text-900 font-medium text-xl">{{totalDoneTasksCount.data.task_aggregate.aggregate.count}}</div>
          </ng-container>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-check text-orange-500 text-xl"></i>
        </div>
      </div>

    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total In Progress Tasks</span>
          <ng-container *ngIf="totalInProgressTasksCount$ | async as totalInProgressTasksCount">
          <div class="text-900 font-medium text-xl">{{totalInProgressTasksCount.data.task_aggregate.aggregate.count}}</div>
          </ng-container>
        </div>
        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
      </div>

    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total To Do Tasks </span>
          <ng-container *ngIf="totalToDoTasksCount$ | async as totalToDoTasksCount">
          <div class="text-900 font-medium text-xl">{{totalToDoTasksCount.data.task_aggregate.aggregate.count}}</div>
          </ng-container>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-comment text-purple-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>










  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>All Tasks</h5>
      <ng-container *ngIf="totalInProgressTasksCount$ | async as totalInProgressTasksCount  ">
        <ng-container *ngIf="totalDoneTasksCount$ | async as totalDoneTasksCount">
          <ng-container *ngIf="totalTestTasksCount$ | async as totalTestTasksCount">
            <ng-container *ngIf="totalReviewTasksCount$ | async as totalReviewTasksCount">
              <ng-container *ngIf="totalToDoTasksCount$ | async as totalToDoTasksCount">
      <app-task-pie-chart [totalInProgressTask]="totalInProgressTasksCount.data.task_aggregate.aggregate.count"
                          [totalDoneTask]="totalDoneTasksCount.data.task_aggregate.aggregate.count"
                          [totalReviewTask]="totalReviewTasksCount.data.task_aggregate.aggregate.count"
                          [totalTestTask]="totalTestTasksCount.data.task_aggregate.aggregate.count"
                          [totalToDoTask]="totalToDoTasksCount.data.task_aggregate.aggregate.count"
      ></app-task-pie-chart>
        </ng-container>
      </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Tasks Per Type</h5>
      <ng-container *ngIf="bugfixTodoCount$ | async as bugfixTodoCount">
        <ng-container *ngIf="bugfixInProgressCount$ | async as bugfixInProgressCount">
          <ng-container *ngIf="bugfixDoneCount$ | async as bugfixDoneCount">
            <ng-container *ngIf="featureTodoCount$ | async as featureTodoCount">
              <ng-container *ngIf="featureInProgressCount$ | async as featureInProgressCount ">
                <ng-container *ngIf="featureDoneCount$ | async as featureDoneCount">
                  <ng-container *ngIf="documentationTodoCount$ | async as documentationTodoCount ">
                    <ng-container *ngIf="documentationInProgressCount$ | async as documentationInProgressCount">
                      <ng-container *ngIf="documentationDoneCount$ | async as documentationDoneCount ">
                        <app-stacked-bar-chart
                        [bugfixTodoCount]="bugfixTodoCount.data.task_aggregate.aggregate.count"
                        [bugfixInProgressCount]="bugfixInProgressCount.data.task_aggregate.aggregate.count"
                        [bugfixDoneCount]="bugfixDoneCount.data.task_aggregate.aggregate.count"

                        [featureTodoCount]="featureTodoCount.data.task_aggregate.aggregate.count"
                        [featureInProgressCount]="featureInProgressCount.data.task_aggregate.aggregate.count"
                        [featureDoneCount]="featureDoneCount.data.task_aggregate.aggregate.count"


                        [documentationTodoCount]="documentationTodoCount.data.task_aggregate.aggregate.count"
                        [documentationInProgressCount]="documentationInProgressCount.data.task_aggregate.aggregate.count"
                        [documentationDoneCount]="documentationDoneCount.data.task_aggregate.aggregate.count"
                        ></app-stacked-bar-chart>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>



  </div>
</div>
